@font-face {
	font-family: 'Arial_Unicode_MS_Type0_0';
	src: local('Arial_Unicode_MS_Type0_0');
	src: url('Arial_Unicode_MS_Type0_0.otf') format('opentype');
}

.fmt-0{font-style:normal;font-weight:bold;font-family:Arial Bold,Arial,serif;color:#000000;font-size:11pt;}

.fmt-1{font-style:normal;font-weight:normal;font-family:Arial,Arial,serif;color:#000000;font-size:10pt;}

@font-face {
	font-family: 'Arial_Unicode_MS_Type0_1';
	src: local('Arial_Unicode_MS_Type0_1');
	src: url('Arial_Unicode_MS_Type0_1.otf') format('opentype');
}

.fmt-2{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type0_1,Arial Unicode MS,serif;color:#000000;font-size:11.2889pt;}

.fmt-3{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type0_0,Arial Unicode MS,serif;color:#000000;font-size:10pt;}

.fmt-4{font-style:normal;font-weight:normal;font-family:Arial,Arial,serif;color:#000000;font-size:8pt;}

