<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="QuickWolf - A quick`n`easy way to travel.">
  <meta name="author" content="Faust">
  <title>QuickWolf - Booking confirmation</title>

  <!-- Favicons-->
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" th:href="@{/img/apple-touch-icon-57x57-precomposed.png}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" th:href="@{/img/apple-touch-icon-72x72-precomposed.png}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" th:href="@{/img/apple-touch-icon-114x114-precomposed.png}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" th:href="@{/img/apple-touch-icon-144x144-precomposed.png}">

  <!-- CSS -->
  <link th:href="@{css/base.css}" rel="stylesheet">

  <!-- SPECIFIC CSS -->
  <link th:href="@{css/square/grey.css}" rel="stylesheet">
  <link th:href="@{css/date_time_picker.css}" rel="stylesheet">

  <!-- Google web fonts -->
  <link th:href="@{http://fonts.googleapis.com/css?family=Montserrat:400,700}" rel='stylesheet' type='text/css'>
  <link th:href="@{http://fonts.googleapis.com/css?family=Gochi+Hand}" rel='stylesheet' type='text/css'>
  <link th:href="@{http://fonts.googleapis.com/css?family=Lato:300,400}" rel='stylesheet' type='text/css'>


  <!--[if lt IE 9]>
      <script th:src="@{/js/html5shiv.min.js}"></script>
      <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

</head>

<body>

  <!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

  <div id="preloader">
    <div class="sk-spinner sk-spinner-wave">
      <div class="sk-rect1"></div>
      <div class="sk-rect2"></div>
      <div class="sk-rect3"></div>
      <div class="sk-rect4"></div>
      <div class="sk-rect5"></div>
    </div>
  </div>
  <!-- End Preload -->

  <div class="layer"></div>
  <!-- Mobile menu overlay mask -->

  <!-- Header================================================== -->
  <header>
    <div id="top_line">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <ul id="top_links">
            </ul>
          </div>
        </div>
        <!-- End row -->
      </div>
      <!-- End container-->
    </div>
    <!-- End top line-->

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div id="logo">
            <a th:href="@{/}"><img th:src="@{/img/logo.png}" width="160" height="34" alt="QuickWolf - Home" data-retina="true" class="logo_normal"></a>
            <a th:href="@{/}"><img th:src="@{/img/logo_sticky.png}" width="160" height="34" alt="QuickWolf - Home" data-retina="true" class="logo_sticky"></a>
          </div>
        </div>
        <nav class="col-md-9 col-sm-9 col-xs-9">
          <!--<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                -->
          <!--          <div class="main-menu">
                      <div id="header_menu">
                        <img th:src="@{/img/logo_sticky.png}" width="160" height="34" alt="QuickWolf" data-retina="true">
                      </div>
                      <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                      <ul>
                        <li class="submenu">
                          <a th:href="@{/}" class="show-submenu">Home</a>
                        </li>
                        <li class="submenu">
                          <a href="javascript:void(0);" class="show-submenu">Tours</a>
                        </li>
                        <li class="submenu">
                          <a href="javascript:void(0);" class="show-submenu">Hotels</a>
                        </li>
                        <li class="submenu">
                          <a href="javascript:void(0);" class="show-submenu">Transfers</a>
                        </li>
                        <li class="submenu">
                          <a href="javascript:void(0);" class="show-submenu">Restaurants</a>
                        </li>
                        <li class="submenu">
                          <a href="javascript:void(0);" class="show-submenu">Bonus</a>
                        </li>
                      </ul>
                    </div>-->
          <!-- End main-menu -->
          <ul id="top_tools">
            <li>
              <div class="dropdown dropdown-access">
                <form>
                  <div sec:authorize="hasRole('ROLE_USER')">
                    <a th:href="@{/passengerProfile}"><i class="icon-user"></i></a><a th:href="@{/passengerProfile}"
                                                                                      sec:authentication="name"></a>
                  </div>
                  <div sec:authorize="hasRole('ROLE_DRIVER')">
                    <a th:href="@{/driverProfile}"><i class="icon-user"></i></a><a th:href="@{/driverProfile}"
                                                                                   sec:authentication="name"></a>
                  </div>
                </form>
              </div>
            </li>
            <li>
              <div class="dropdown dropdown-access">
                <form th:action="@{/logout}" method="post" id="logoutForm">
                  <a href="#" onclick="document.forms['logoutForm'].submit()"><i class="icon-logout-1"></i></a><a href="#" onclick="document.forms['logoutForm'].submit()">Log out</a>
                </form>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- container -->
  </header>
  <!-- End Header -->

  <section class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{/img/night.jpg}" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
      <div class="animated fadeInDown">
        <h1>Booking confirmation</h1>
        <p>Check everything and click confirm.</p>
      </div>
    </div>
  </section>
  <!-- End section -->

  <div class="container margin_60 login">
    <form method="post" th:action="@{/bookTrip}" th:object="${bookTripBean}">
      <input type="hidden" th:value="${trip.id}" name="tripId" id="tripId"/>
      <input type="hidden" th:value="${#authentication.name}" name="email" id="email"/>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s" style="padding: 50px 50px 50px 50px;">
          <div class="text-center"><img th:src="@{/img/logo_sticky.png}" alt="Image" data-retina="true"></div>
          <div class="row">
            <div class="col-md-4 col-sm-4" style="margin-top: 15px;">
              <hr>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center">
                <h2>Booking details</h2></div>
            </div>
            <div class="col-md-4 col-sm-4" style="margin-top: 15px;">
              <hr>
            </div>
          </div>
          <div class="text-center"><img th:src="@{/img/card.png}" alt="Image" data-retina="true"></div>
          <hr>
          <div class="row">
            <div class="form_title">
              <h3><strong>1</strong>Passenger details</h3>
              <p>
                Details related to you.
              </p>
            </div>
            <div class="step">
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                    <label>First name</label>
                    <p th:text="${passenger.firstName}">Mike</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                    <label>Last name</label>
                    <p th:text="${passenger.lastName}">Spike</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                    <label>Email</label>
                    <p th:text="${passenger.email}">mike@gmail.com</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                    <label>Telephone</label>
                    <p th:text="${passenger.telephoneNumber}">0(69)-333-333</p>
                  </div>
                </div>
              </div>
            </div>
            <!--End step -->
            <!--<div class="form_title">-->
              <!--<h3><strong>2</strong>Payment details</h3>-->
              <!--<p>-->
                <!--Details related to your credit card.-->
              <!--</p>-->
            <!--</div>-->
            <!--<div class="step">-->
              <!--<div class="row">-->
                <!--<div class="col-md-3 col-sm-3">-->
                  <!--<div class="form-group">-->
                    <!--<label>First name on card</label>-->
                    <!--<p th:text="${passenger.creditCard.firstName}">Mike</p>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3 col-sm-3">-->
                  <!--<div class="form-group">-->
                    <!--<label>Last name on card</label>-->
                    <!--<p th:text="${passenger.creditCard.lastName}">Spike</p>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3 col-sm-3">-->
                  <!--<div class="form-group">-->
                    <!--<label>Card number</label>-->
                    <!--<p th:text="${passenger.creditCard.cardNumber}">8979 6549 4985 6578</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--End row -->
            </div>
            <!--End step -->
            <div class="form_title">
              <h3><strong>3</strong>Trip details</h3>
              <p>
                Details related to booked trip.
              </p>
            </div>
            <div class="step">
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                    <label>Duration</label>
                    <p th:text="${trip.getTripDuration().toMinutes() + 'm'}">2h 55m</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                    <label>Depart time</label>
                    <p th:text="${#dates.format(trip.departTime, 'HH:mm')}">9:30</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                    <label>Arrive time</label>
                    <p th:text="${#dates.format(trip.arriveTime, 'HH:mm')}">11:30</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                    <label>Price</label>
                    <p th:text="${trip.price}">55</p>
                  </div>
                </div>
              </div>
              <!--End row -->
            </div>
            <!--End step -->

            <div id="policy">
              <h4 href="#">Cancellation policy</h4>
              <div class="form-group">
                <label><input type="checkbox" name="policy_terms" id="policy_terms">I accept terms and conditions and general policy.</label>
              </div>
              <input class="btn_1 green medium" type="submit" value="Confirm Now">
            </div>
          </div>
          <!--End row -->
        </div>
        <!--End container -->
        <!--End strip -->
      </div>
      <!-- End col lg-9 -->
    </div>
  </form>
    <!-- End row -->
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-3">
          <h3>Need help?</h3>
          <a href="tel://0(69)-333-333" id="phone">0(69)-333-333</a>
          <a href="mailto:help.quickwolf@gmail.com" id="email_footer">help.quickwolf@gmail.com</a>
        </div>
        <div align="right" class="col-md-3 col-sm-3">
          <h3>About</h3>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Terms and conditions</a></li>
          </ul>
        </div>
      </div>
      <!-- End row -->
      <div class="row">
        <div class="col-md-12">
          <div id="social_footer">
            <ul>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-google"></i></a></li>
              <li><a href="#"><i class="icon-instagram"></i></a></li>
              <li><a href="#"><i class="icon-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-vimeo"></i></a></li>
              <li><a href="#"><i class="icon-youtube-play"></i></a></li>
              <li><a href="#"><i class="icon-linkedin"></i></a></li>
            </ul>
            <p>© QuickWolf <span th:text="${#dates.year(#dates.createNow())}">2017</span></p>
          </div>
        </div>
      </div>
      <!-- End row -->
    </div>
    <!-- End container -->
  </footer>
  <!-- End footer -->

  <div id="toTop"></div>
  <!-- Back to top button -->

  <!-- Common scripts -->
  <script th:src="@{/js/jquery-1.11.2.min.js}"></script>
  <script th:src="@{/js/common_scripts_min.js}"></script>
  <script th:src="@{/js/functions.js}"></script>

  <!-- Specific scripts -->
  <script th:src="@{/js/pw_strenght.js}"></script>
  <script th:src="@{/js/bootstrap-datepicker.js}"></script>
  <script th:src="@{/js/bootstrap-timepicker.js}"></script>
  <script th:src="@{/js/html5shiv.min.js}"></script>
  <script th:src="@{/js/respond.min.js}"></script>
  <script>
    $('input.date-pick').datepicker('setDate', 'today');
    $('input.time-pick').timepicker({
      minuteStep: 15,
      showInpunts: false
    })
  </script>

</body>

</html>
