<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="QuickWolf - A quick`n`easy way to travel.">
    <meta name="author" content="Faust">
    <title>QuickWolf - Register as driver</title>

    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" th:href="@{/img/apple-touch-icon-57x57-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
          th:href="@{/img/apple-touch-icon-72x72-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
          th:href="@{/img/apple-touch-icon-114x114-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
          th:href="@{/img/apple-touch-icon-144x144-precomposed.png}">

    <!-- CSS -->
    <link th:href="@{css/base.css}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link th:href="@{css/square/grey.css}" rel="stylesheet">
    <link th:href="@{css/date_time_picker.css}" rel="stylesheet">

    <!-- Google web fonts -->
    <link th:href="@{http://fonts.googleapis.com/css?family=Montserrat:400,700}" rel='stylesheet' type='text/css'>
    <link th:href="@{http://fonts.googleapis.com/css?family=Gochi+Hand}" rel='stylesheet' type='text/css'>
    <link th:href="@{http://fonts.googleapis.com/css?family=Lato:300,400}" rel='stylesheet' type='text/css'>


</head>

<body>

<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a>.</p>
<![endif]-->

<div id="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- End Preload -->

<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header================================================== -->
<header>
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6"></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <ul id="top_links">
                        <li>
                            <div class="dropdown dropdown-access">
                                <a th:href="@{/login}" class="dropdown-toggle">Sign in</a>
                            </div>
                            <!-- End Dropdown access -->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container-->
    </div>
    <!-- End top line-->

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div id="logo">
                    <a th:href="@{/}"><img th:src="@{/img/logo.png}" width="160" height="34" alt="QuickWolf - Home"
                                           data-retina="true" class="logo_normal"></a>
                    <a th:href="@{/}"><img th:src="@{/img/logo_sticky.png}" width="160" height="34"
                                           alt="QuickWolf - Home" data-retina="true" class="logo_sticky"></a>
                </div>
            </div>
            <nav class="col-md-9 col-sm-9 col-xs-9">
                <!--<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                --><!--                <div class="main-menu">
                                    <div id="header_menu">
                                        <img th:src="@{/img/logo_sticky.png}" width="160" height="34" alt="QuickWolf"
                                             data-retina="true">
                                    </div>
                                    <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                                    <ul>
                                        <li class="submenu">
                                            <a th:href="@{/}" class="show-submenu">Home</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="javascript:void(0);" class="show-submenu">Tours</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="javascript:void(0);" class="show-submenu">Hotels</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="javascript:void(0);" class="show-submenu">Transfers</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="javascript:void(0);" class="show-submenu">Restaurants</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="javascript:void(0);" class="show-submenu">Bonus</a>
                                        </li>
                                    </ul>
                                </div>-->
                <!-- End main-menu -->
            </nav>
        </div>
    </div>
    <!-- container -->
</header>
<!-- End Header -->

<section class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{/img/night.jpg}"
         data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Registration</h1>
            <p>Complete all the fields to become a QuickWolf user.</p>
        </div>
    </div>
</section>
<!-- End section -->

<div class="container margin_60 login">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s" style="padding: 50px 50px 50px 50px;">
                <div class="text-center"><img th:src="@{/img/logo_sticky.png}" alt="Image" data-retina="true"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-4" style="margin-top: 15px;">
                        <hr>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="text-center">
                            <h2>Driver form</h2></div>
                    </div>
                    <div class="col-md-4 col-sm-4" style="margin-top: 15px;">
                        <hr>
                    </div>
                </div>
                <div class="text-center"><img th:src="@{/img/driver.png}" alt="Image" data-retina="true"></div>
                <hr>
                <form action="#" method="post" th:action="@{/registerAsDriver}" th:object="${registerDriverFormBean}">
                    <div class="form_title">
                        <h3><strong>1</strong>Personal details</h3>
                        <p>
                            Take your passport to fill these fields.
                        </p>
                        <br>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>First name</label>
                            <input type="text" class="form-control" th:field="*{firstName}"
                                   placeholder="Type in your first name">
                            <p class="alert alert-danger" class="alert alert-danger"
                               th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last name</label>
                            <input type="text" class="form-control" th:field="*{lastName}"
                                   placeholder="Type in your last name">
                            <p class="alert alert-danger" class="alert alert-danger"
                               th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Email</label>
                            <input type="text" class=" form-control" th:field="*{driverEmail}"
                                   placeholder="Type in your passengerEmail">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('driverEmail')}"
                               th:errors="*{driverEmail}"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Telephone number</label>
                            <input type="text" class=" form-control" th:field="*{telephoneNumber}"
                                   placeholder="Type in your telephone number">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('telephoneNumber')}"
                               th:errors="*{telephoneNumber}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Passport ID</label>
                            <input type="text" class=" form-control" th:field="*{humanId}"
                                   placeholder="Type in your passport ID">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('humanId')}"
                               th:errors="*{humanId}"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label><i class="icon-calendar-7"></i> Date of birth</label>
                            <input class="date-pick form-control" data-date-format="yyyy-m-d" th:field="*{dateOfBirth}"
                                   type="text">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
                               th:errors="*{dateOfBirth}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Password</label>
                            <input type="text" class=" form-control" th:field="*{driverPassword}" id="password1"
                                   placeholder="Password">
                            <div id="pass-info" class="clearfix" style="width: 100%;"></div>
                            <p class="alert alert-danger" class="alert alert-danger"
                               th:if="${#fields.hasErrors('driverPassword')}" th:errors="*{driverPassword}"></p>
                        </div>
                    </div>
                    <div class="form_title">
                        <h3><strong>2</strong>Credit card details</h3>
                        <p>
                            Take your credit card to fill these fields.
                        </p>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>First name</label>
                            <input type="text" class="form-control" th:field="*{creditCard.firstName}"
                                   placeholder="Type in your first name">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('creditCard.firstName')}"
                               th:errors="*{creditCard.firstName}"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last name</label>
                            <input type="text" class="form-control" th:field="*{creditCard.lastName}"
                                   placeholder="Type in your last name">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('creditCard.lastName')}"
                               th:errors="*{creditCard.lastName}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Credit card number</label>
                            <input type="text" class="form-control" th:field="*{creditCard.cardNumber}"
                                   placeholder="Type in your credit card`s number">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('creditCard.cardNumber')}"
                               th:errors="*{creditCard.cardNumber}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Expiration month</label>
                            <input type="text" class="form-control" th:field="*{creditCard.expirationMonth}"
                                   placeholder="mm">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('creditCard.expirationMonth')}"
                               th:errors="*{creditCard.expirationMonth}"></p>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Expiration year</label>
                            <input type="text" class="form-control" th:field="*{creditCard.expirationYear}"
                                   placeholder="yy">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('creditCard.expirationYear')}"
                               th:errors="*{creditCard.expirationYear}"></p>
                        </div>
                        <div class="form-group col-md-2">
                            <label>CVV</label>
                            <input type="text" class="form-control" th:field="*{creditCard.securityCode}"
                                   placeholder="Type in CVV">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('creditCard.securityCode')}"
                               th:errors="*{creditCard.securityCode}"></p>
                        </div>
                    </div>
                    <div class="form_title">
                        <h3><strong>3</strong>Transport details</h3>
                        <p>
                            Take your auto`s passport to fill these fields.
                        </p>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Transport type</label>
                            <input type="text" class="form-control" th:field="*{registeredTransport.transportType}"
                                   placeholder="bus or car">
                            <p class="alert alert-danger"
                               th:if="${#fields.hasErrors('registeredTransport.transportType')}"
                               th:errors="*{registeredTransport.transportType}"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Body type</label>
                            <input type="text" class="form-control" th:field="*{registeredTransport.bodyType}"
                                   placeholder="bus - microbus, autobus, car - sedan, hatchback...">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('registeredTransport.bodyType')}"
                               th:errors="*{registeredTransport.bodyType}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <input type="text" class=" form-control" th:field="*{registeredTransport.name}"
                                   placeholder="Type in your transport`s name">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('registeredTransport.name')}"
                               th:errors="*{registeredTransport.name}"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Model</label>
                            <input type="text" class=" form-control" th:field="*{registeredTransport.modelName}"
                                   placeholder="Type in your transport`s model">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('registeredTransport.modelName')}"
                               th:errors="*{registeredTransport.modelName}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Number of seats</label>
                            <input type="text" class=" form-control" th:field="*{registeredTransport.numberOfSeats}"
                                   placeholder="4, 5, 6...">
                            <p class="alert alert-danger"
                               th:if="${#fields.hasErrors('registeredTransport.numberOfSeats')}"
                               th:errors="*{registeredTransport.numberOfSeats}"></p>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Year</label>
                            <input type="text" class=" form-control" th:field="*{registeredTransport.year}"
                                   placeholder="yyyy">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('registeredTransport.year')}"
                               th:errors="*{registeredTransport.year}"></p>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Color</label>
                            <input type="text" class=" form-control" th:field="*{registeredTransport.color}"
                                   placeholder="white, gray...">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('registeredTransport.color')}"
                               th:errors="*{registeredTransport.color}"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label><i class="icon-calendar-7"></i> Date of registration</label>
                            <input class="date-pick form-control" th:field="*{registeredTransport.dateOfRegistration}"
                                   data-date-format="yyyy-m-d" type="text">
                            <p class="alert alert-danger"
                               th:if="${#fields.hasErrors('registeredTransport.dateOfRegistration')}"
                               th:errors="*{registeredTransport.dateOfRegistration}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Registration number</label>
                            <input type="text" class=" form-control"
                                   th:field="*{registeredTransport.registrationNumber}"
                                   placeholder="Type in the registration number">
                            <p class="alert alert-danger"
                               th:if="${#fields.hasErrors('registeredTransport.registrationNumber')}"
                               th:errors="*{registeredTransport.registrationNumber}"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Engine ID</label>
                            <input type="text" class=" form-control" th:field="*{registeredTransport.engineId}"
                                   placeholder="Type in the engine id">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('registeredTransport.engineId')}"
                               th:errors="*{registeredTransport.engineId}"></p>
                        </div>
                    </div>
                    <button type="submit" class="btn_full">Create an account</button>
                </form>
            </div>
        </div>
        <!--End strip -->
    </div>
    <!-- End col lg-9 -->
</div>
<!-- End row -->
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-3">
                <h3>Need help?</h3>
                <a href="tel://0(69)-333-333" id="phone">0(69)-333-333</a>
                <a href="mailto:help.quickwolf@gmail.com" id="email_footer">help.quickwolf@gmail.com</a>
            </div>
            <div align="right" class="col-md-3 col-sm-3">
                <h3>About</h3>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                </ul>
            </div>
        </div>
        <!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-google"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon-vimeo"></i></a></li>
                        <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>
                    <p>© QuickWolf 2015</p>
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</footer>
<!-- End footer -->

<div id="toTop"></div>
<!-- Back to top button -->

<!-- Common scripts -->
<script th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/js/common_scripts_min.js}"></script>
<script th:src="@{/js/functions.js}"></script>

<!-- Specific scripts -->
<script th:src="@{/js/pw_strenght.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/bootstrap-timepicker.js}"></script>
<script th:src="@{/js/html5shiv.min.js}"></script>
<script th:src="@{/js/respond.min.js}"></script>
<script>
    $('input.date-pick').datepicker('setDate', 'today');
    $('input.time-pick').timepicker({
        minuteStep: 15,
        showInpunts: false
    })
</script>

</body>

</html>
