.ff0 {
    font-family: sans-serif;
    visibility: hidden;
}

@font-face {
    font-family: ff1;
    src: url(f1.woff) format("woff");
}

.ff1 {
    font-family: ff1;
    line-height: 1.432129;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2;
    src: url(f2.woff) format("woff");
}

.ff2 {
    font-family: ff2;
    line-height: 0.966797;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3;
    src: url(f3.woff) format("woff");
}

.ff3 {
    font-family: ff3;
    line-height: 0.766602;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4;
    src: url(f4.woff) format("woff");
}

.ff4 {
    font-family: ff4;
    line-height: 0.937012;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

.m0 {
    transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
    -ms-transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
    -webkit-transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
}

.m1 {
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
}

.v0 {
    vertical-align: 0.000000px;
}

.ls3 {
    letter-spacing: -0.708000px;
}

.ls2 {
    letter-spacing: -0.139600px;
}

.ls1 {
    letter-spacing: -0.072800px;
}

.ls0 {
    letter-spacing: 0.000000px;
}

.sc_ {
    text-shadow: none;
}

.sc0 {
    text-shadow: -0.015em 0 transparent, 0 0.015em transparent, 0.015em 0 transparent, 0 -0.015em transparent;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .sc_ {
        -webkit-text-stroke: 0px transparent;
    }

    .sc0 {
        -webkit-text-stroke: 0.015em transparent;
        text-shadow: none;
    }
}

.ws0 {
    word-spacing: 0.000000px;
}

._0 {
    margin-left: -1.324800px;
}

._1 {
    width: 1.324800px;
}

.fc1 {
    color: rgb(0, 0, 0);
}

.fc0 {
    color: rgb(5, 99, 193);
}

.fs0 {
    font-size: 45px;
}

.fs1 {
    font-size: 45px;
}

.y1 {
    bottom: 0.000000px;
}

.ya {
    bottom: 3.600000px;
}

.y12 {
    bottom: 9.240000px;
}

.y15 {
    bottom: 9.360000px;
}

.y1c {
    bottom: 9.480000px;
}

.y11 {
    bottom: 10.200000px;
}

.y14 {
    bottom: 10.320000px;
}

.y1b {
    bottom: 10.440000px;
}

.y19 {
    bottom: 10.460000px;
}

.yf {
    bottom: 11.160000px;
}

.ye {
    bottom: 12.120000px;
}

.yc {
    bottom: 80.160000px;
}

.y20 {
    bottom: 230.810000px;
}

.y0 {
    bottom: 251.500000px;
}

.y1f {
    bottom: 253.250000px;
}

.y1e {
    bottom: 275.810000px;
}

.yb {
    bottom: 287.570000px;
}

.y1d {
    bottom: 316.250000px;
}

.y1a {
    bottom: 344.810000px;
}

.y18 {
    bottom: 373.370000px;
}

.y17 {
    bottom: 402.070000px;
}

.y16 {
    bottom: 430.270000px;
}

.y13 {
    bottom: 458.470000px;
}

.y10 {
    bottom: 486.910000px;
}

.yd {
    bottom: 514.990000px;
}

.y9 {
    bottom: 546.940000px;
}

.y8 {
    bottom: 618.940000px;
}

.y7 {
    bottom: 633.460000px;
}

.y6 {
    bottom: 655.300000px;
}

.y5 {
    bottom: 668.980000px;
}

.y4 {
    bottom: 682.540000px;
}

.y3 {
    bottom: 696.220000px;
}

.y2 {
    bottom: 709.900000px;
}

.h8 {
    height: 27.600000px;
}

.h9 {
    height: 27.960000px;
}

.hb {
    height: 28.080000px;
}

.ha {
    height: 28.104000px;
}

.h6 {
    height: 31.464000px;
}

.hc {
    height: 33.357187px;
}

.h3 {
    height: 33.529687px;
}

.h7 {
    height: 41.183203px;
}

.h2 {
    height: 46.618125px;
}

.h4 {
    height: 58.320000px;
}

.h5 {
    height: 317.690000px;
}

.h1 {
    height: 468.500000px;
}

.h0 {
    height: 792.000000px;
}

.w5 {
    width: 114.240000px;
}

.w4 {
    width: 167.420000px;
}

.w6 {
    width: 206.570000px;
}

.w3 {
    width: 321.410000px;
}

.w1 {
    width: 493.500000px;
}

.w2 {
    width: 611.999991px;
}

.w0 {
    width: 612.000000px;
}

.x1 {
    left: 0.000009px;
}

.xa {
    left: 7px;
}

.x15 {
    left: 7px;
}

.x13 {
    left: 7px;
}

.x8 {
    left: 7px;
}

.xb {
    left: 7px;
}

.xd {
    left: 7px;
}

.xe {
    left: 7px;
}

.x10 {
    left: 7px;
}

.x16 {
    left: 7px;
}

.xc {
    left: 7px;
}

.x12 {
    left: 7px;
}

.x0 {
    left: 72.000000px;
}

.x3 {
    left: 73.703991px;
}

.x14 {
    left: 7px;
}

.xf {
    left: 7px;
}

.x11 {
    left: 7px;
}

.x2 {
    left: 152.299991px;
}

.x7 {
    left: 162.630000px;
}

.x9 {
    left: 188.420000px;
}

.x5 {
    left: 278.926000px;
}

.x4 {
    left: 319.489991px;
}

.x6 {
    left: 395.470000px;
}

@media print {
    .v0 {
        vertical-align: 0.000000pt;
    }

    .ls3 {
        letter-spacing: -0.944000pt;
    }

    .ls2 {
        letter-spacing: -0.186133pt;
    }

    .ls1 {
        letter-spacing: -0.097067pt;
    }

    .ls0 {
        letter-spacing: 0.000000pt;
    }

    .ws0 {
        word-spacing: 0.000000pt;
    }

    ._0 {
        margin-left: -1.766400pt;
    }

    ._1 {
        width: 1.766400pt;
    }

    .fs0 {
        font-size: 45pt;
    }

    .fs1 {
        font-size: 45pt;
    }

    .y1 {
        bottom: 0.000000pt;
    }

    .ya {
        bottom: 4.800000pt;
    }

    .y12 {
        bottom: 12.320000pt;
    }

    .y15 {
        bottom: 12.480000pt;
    }

    .y1c {
        bottom: 12.640000pt;
    }

    .y11 {
        bottom: 13.600000pt;
    }

    .y14 {
        bottom: 13.760000pt;
    }

    .y1b {
        bottom: 13.920000pt;
    }

    .y19 {
        bottom: 13.946667pt;
    }

    .yf {
        bottom: 14.880000pt;
    }

    .ye {
        bottom: 16.160000pt;
    }

    .yc {
        bottom: 106.880000pt;
    }

    .y20 {
        bottom: 307.746667pt;
    }

    .y0 {
        bottom: 335.333333pt;
    }

    .y1f {
        bottom: 337.666667pt;
    }

    .y1e {
        bottom: 367.746667pt;
    }

    .yb {
        bottom: 383.426667pt;
    }

    .y1d {
        bottom: 421.666667pt;
    }

    .y1a {
        bottom: 459.746667pt;
    }

    .y18 {
        bottom: 497.826667pt;
    }

    .y17 {
        bottom: 536.093333pt;
    }

    .y16 {
        bottom: 573.693333pt;
    }

    .y13 {
        bottom: 611.293333pt;
    }

    .y10 {
        bottom: 649.213333pt;
    }

    .yd {
        bottom: 686.653333pt;
    }

    .y9 {
        bottom: 729.253333pt;
    }

    .y8 {
        bottom: 825.253333pt;
    }

    .y7 {
        bottom: 844.613333pt;
    }

    .y6 {
        bottom: 873.733333pt;
    }

    .y5 {
        bottom: 891.973333pt;
    }

    .y4 {
        bottom: 910.053333pt;
    }

    .y3 {
        bottom: 928.293333pt;
    }

    .y2 {
        bottom: 946.533333pt;
    }

    .h8 {
        height: 36.800000pt;
    }

    .h9 {
        height: 37.280000pt;
    }

    .hb {
        height: 37.440000pt;
    }

    .ha {
        height: 37.472000pt;
    }

    .h6 {
        height: 41.952000pt;
    }

    .hc {
        height: 44.476250pt;
    }

    .h3 {
        height: 44.706250pt;
    }

    .h7 {
        height: 54.910937pt;
    }

    .h2 {
        height: 62.157500pt;
    }

    .h4 {
        height: 77.760000pt;
    }

    .h5 {
        height: 423.586667pt;
    }

    .h1 {
        height: 624.666667pt;
    }

    .h0 {
        height: 1056.000000pt;
    }

    .w5 {
        width: 152.320000pt;
    }

    .w4 {
        width: 223.226667pt;
    }

    .w6 {
        width: 275.426667pt;
    }

    .w3 {
        width: 428.546667pt;
    }

    .w1 {
        width: 658.000000pt;
    }

    .w2 {
        width: 815.999988pt;
    }

    .w0 {
        width: 816.000000pt;
    }

    .x1 {
        left: 0.000012pt;
    }

    .xa {
        left: 16.480000pt;
    }

    .x15 {
        left: 25.600000pt;
    }

    .x13 {
        left: 31.680000pt;
    }

    .x8 {
        left: 35.200000pt;
    }

    .xb {
        left: 39.834667pt;
    }

    .xd {
        left: 42.394667pt;
    }

    .xe {
        left: 49.914667pt;
    }

    .x10 {
        left: 60.954667pt;
    }

    .x16 {
        left: 66.760000pt;
    }

    .xc {
        left: 73.000000pt;
    }

    .x12 {
        left: 77.160000pt;
    }

    .x0 {
        left: 96.000000pt;
    }

    .x3 {
        left: 98.271988pt;
    }

    .x14 {
        left: 101.320000pt;
    }

    .xf {
        left: 104.520000pt;
    }

    .x11 {
        left: 111.080000pt;
    }

    .x2 {
        left: 203.066655pt;
    }

    .x7 {
        left: 216.840000pt;
    }

    .x9 {
        left: 251.226667pt;
    }

    .x5 {
        left: 371.901333pt;
    }

    .x4 {
        left: 425.986655pt;
    }

    .x6 {
        left: 527.293333pt;
    }
}
