<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>Order ticket</title>
    <link rel="stylesheet" type="text/css" href="../../../webapp/resources/images/ticketData/ticketData.css" />
    <script type="text/javascript" src="../../../webapp/resources/images/ticketData/ticketData.js">
    </script>
    <style>
@page {
 margin: 0;
 size: A4 portrait;
}
</style>
</head>

<body>
    <div>
        <div style="position:relative;width:595.28pt;height:741.89pt;">
            <div style="position:absolute;left:0pt;top:0pt;width:100%;height:100%;clip:rect(0pt,595.28pt,841.89pt,0pt);" class="fmt-2">
                <img style="position:absolute;left:13.6732pt;top:76.04pt;width:3pt;height:63pt;z-index:16;" src="../../../webapp/resources/images/ticketData/a99d49c6ab71fefc6a825f7d854254b2.png" alt="__rendered_path__16" />
                <span style="white-space:pre;">
          <div style="position:absolute;top:142.91pt;left:20.1732pt;z-index:21;">  Location:</div>
        </span><img style="position:absolute;left:13.6732pt;top:137.15pt;width:3pt;height:28pt;z-index:11;" src="../../../webapp/resources/images/ticketData/64786db0b3edd9539fe9c2b39f7df9ae.png" alt="__rendered_path__11" />
                <span style="white-space:pre;">
          <div style="position:absolute;top:169.02pt;left:20.1732pt;z-index:23;letter-spacing:-.007em;">  Event:</div></span><img style="position:absolute;left:13.6732pt;top:163.26pt;width:3pt;height:28pt;z-index:11;" src="../../../webapp/resources/images/ticketData/64786db0b3edd9539fe9c2b39f7df9ae.png"
                    alt="__rendered_path__11" /><span style="white-space:pre;"><div style="position:absolute;top:195.13pt;left:20.1732pt;z-index:25;letter-spacing:-.015em;">  Date:</div></span><img style="position:absolute;left:13.6732pt;top:189.37pt;width:3pt;height:28pt;z-index:11;"
                                                                                                                                                                                                      src="../../../webapp/resources/images/ticketData/64786db0b3edd9539fe9c2b39f7df9ae.png" alt="__rendered_path__11" /><span style="white-space:pre;"><div style="position:absolute;top:221.24pt;left:20.1732pt;z-index:27;letter-spacing:-.007em;">  Price:</div></span><img style="position:absolute;left:13.6732pt;top:215.48pt;width:3pt;height:28pt;z-index:11;"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                src="../../../webapp/resources/images/ticketData/64786db0b3edd9539fe9c2b39f7df9ae.png" alt="__rendered_path__11" /><span style="white-space:pre;"><div style="position:absolute;top:247.35pt;left:20.1732pt;z-index:29;letter-spacing:-.041em;">  Seats:</div></span><img style="position:absolute;left:13.6732pt;top:241.59pt;width:3pt;height:28pt;z-index:11;"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          src="../../../webapp/resources/images/ticketData/64786db0b3edd9539fe9c2b39f7df9ae.png" alt="__rendered_path__11" /><span style="white-space:pre;"><div style="position:absolute;top:273.47pt;left:20.1732pt;z-index:31;letter-spacing:.015em;"> Ticket ID:</div></span><img
                    style="position:absolute;left:13.6732pt;top:267.7pt;width:3pt;height:28pt;z-index:11;" src="../../../webapp/resources/images/ticketData/64786db0b3edd9539fe9c2b39f7df9ae.png" alt="__rendered_path__11" /><span class="fmt-3" style="white-space:pre;"><div style="position:absolute;top:306.26pt;left:14.1732pt;z-index:33;letter-spacing:-.027em;">  </div></span>
                <span class="fmt-3" style="white-space:pre;">
                    <div style="position:absolute;top:557.48pt;left:14.1732pt;z-index:35;letter-spacing:-.027em;"> </div>
                  </span>

  <!-- Header banner image -->
                  <img style="position:absolute;left:14.1732pt;top:14.1732pt;width:200.0401pt;height:46.1061pt;z-index:1;" src="../../../webapp/resources/images/ticketData/logo.png" alt="Image_22_0" /><span class="fmt-0" style="white-space:pre;">

  <!-- Header date -->
                    <div style="position:absolute;top:15.1303pt;left:107.72pt;z-index:2;">infiniTicket.org 08.04.2017</div>

                  </span>
                <span class="fmt-1" style="white-space:pre;">
                        <div style="position:absolute;top:28.6532pt;left:107.72pt;z-index:3;">Bilet Electronic - Electronic Ticket - Electronii bilet</div>
                        </span><span class="fmt-1" style="white-space:pre;"><div style="position:absolute;top:41.1532pt;left:107.72pt;z-index:4;">Booking ID: B278293378</div></span><span class="fmt-1" style="white-space:pre;">

  <!-- Number of tickets -->
                          <div style="position:absolute;top:53.6532pt;left:107.72pt;z-index:5;">Nr. of tickets: 1</div>


                        </span><img
                    style="position:absolute;left:580.67pt;top:76.04pt;width:3pt;height:63pt;z-index:15;" src="../../../webapp/resources/images/ticketData/673730f4351c689fefcf019e8dd3668b.png" alt="__rendered_path__15" /><img style="position:absolute;left:415.67pt;top:74.04pt;width:166pt;height:3pt;z-index:8;"
                                                                                                                                                                                                                                  src="../../../webapp/resources/images/ticketData/019132d40dae6eefd6afc6f67b82db22.png" alt="__rendered_path__8" /><span style="white-space:pre;">

  <!-- Location -->
                      <div style="position:absolute;top:142.91pt;left:120.17pt;z-index:22;letter-spacing:.007em;"
                        th:utext="${order.ticket.event.location}">Piaţa Marii Adunări Naţionale</div></span>

                        <img style="position:absolute;left:580.67pt;top:137.15pt;width:3pt;height:28pt;z-index:7;" src="../../../webapp/resources/images/ticketData/3582bf4c6ca63b722949000ca3094dbd.png" alt="__rendered_path__7" /><img style="position:absolute;left:415.67pt;top:76.04pt;width:3pt;height:63pt;z-index:17;"
                                                                                                                                                                                                                                          src="../../../webapp/resources/images/ticketData/f105414f79975c64a925bad99cfa77f1.png" alt="__rendered_path__17" /><img style="position:absolute;left:13.6732pt;top:74.04pt;width:403pt;height:3pt;z-index:18;" src="../../../webapp/resources/images/ticketData/ecdfc20b3dc546b9075fd3a35e1b1adf.png" alt="__rendered_path__18"
                /><span style="white-space:pre;">

  <!-- Event -->

                  <div style="position:absolute;top:169.02pt;left:120.17pt;z-index:24;letter-spacing:-.023em;"
                    th:utext="${order.ticket.event.name}">Orange celebreaza 10 ani cu The Prodigy</div>

                </span><img style="position:absolute;left:580.67pt;top:163.26pt;width:3pt;height:28pt;z-index:7;"
                            src="../../../webapp/resources/images/ticketData/3582bf4c6ca63b722949000ca3094dbd.png" alt="__rendered_path__7" /><img style="position:absolute;left:415.67pt;top:137.15pt;width:3pt;height:28pt;z-index:9;" src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9"
                /><img style="position:absolute;left:13.6732pt;top:136.04pt;width:403pt;height:3pt;z-index:19;" src="../../../webapp/resources/images/ticketData/adbe7df4557b5e962f52aa9c460ee2bf.png" alt="__rendered_path__19" />

<!-- Table header image -->
                <img style="position:absolute;left:147.4pt;top:82.2047pt;width:200.2132pt;height:53.8587pt;z-index:20;"
                     src="../../../webapp/resources/images/ticketData/logo.png" alt="Image_24_0" /><span style="white-space:pre;">

  <!-- Date -->
                      <div style="position:absolute;top:195.13pt;left:120.17pt;z-index:26;letter-spacing:-.044em;"
                        th:text="${order.ticket.attendingDate}">03.06.2017 18:00</div>

                    </span><img style="position:absolute;left:580.67pt;top:189.37pt;width:3pt;height:28pt;z-index:7;"
                                src="../../../webapp/resources/images/ticketData/3582bf4c6ca63b722949000ca3094dbd.png" alt="__rendered_path__7" /><img style="position:absolute;left:415.67pt;top:163.26pt;width:3pt;height:28pt;z-index:9;" src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9"
                /><img style="position:absolute;left:113.67pt;top:162.15pt;width:304pt;height:3pt;z-index:13;" src="../../../webapp/resources/images/ticketData/8d1884414bf7d4dead7d988db7b0e983.png" alt="__rendered_path__13" /><span style="white-space:pre;">

  <!-- Price -->
                  <div style="position:absolute;top:221.24pt;left:120.17pt;z-index:28;letter-spacing:-.02em;"
                    th:utext="${order.ticket.ticketType.price + ' Lei'}">200 Lei</div>

                </span><img
                    style="position:absolute;left:580.67pt;top:215.48pt;width:3pt;height:28pt;z-index:7;" src="../../../webapp/resources/images/ticketData/3582bf4c6ca63b722949000ca3094dbd.png" alt="__rendered_path__7" /><img style="position:absolute;left:415.67pt;top:189.37pt;width:3pt;height:28pt;z-index:9;"
                                                                                                                                                                                                                                 src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9" /><img style="position:absolute;left:113.67pt;top:188.26pt;width:304pt;height:3pt;z-index:13;" src="../../../webapp/resources/images/ticketData/8d1884414bf7d4dead7d988db7b0e983.png" alt="__rendered_path__13"
                /><img style="position:absolute;left:113.67pt;top:137.15pt;width:3pt;height:28pt;z-index:9;" src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9" /><img style="position:absolute;left:423.00pt;top:110.00pt;z-index:36;"
                                                                                                                                                                                                                                    th:attr="src=${qrImagePath}" src="1.png" alt="__rendered_path__36" /><span style="white-space:pre;">

  <!-- Ticket type -->
                      <div style="position:absolute;top:247.35pt;left:120.17pt;z-index:30;letter-spacing:-.022em;"
                        th:utext="${order.ticket.ticketType.name + ' | ' + order.ticket.ticketType.price}">Main| 200.00</div>


                    </span><img style="position:absolute;left:580.67pt;top:241.59pt;width:3pt;height:28pt;z-index:7;"
                                src="../../../webapp/resources/images/ticketData/3582bf4c6ca63b722949000ca3094dbd.png" alt="__rendered_path__7" /><img style="position:absolute;left:415.67pt;top:215.48pt;width:3pt;height:28pt;z-index:9;" src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9"
                /><img style="position:absolute;left:113.67pt;top:214.37pt;width:304pt;height:3pt;z-index:13;" src="../../../webapp/resources/images/ticketData/8d1884414bf7d4dead7d988db7b0e983.png" alt="__rendered_path__13" /><img style="position:absolute;left:113.67pt;top:163.26pt;width:3pt;height:28pt;z-index:9;"
                                                                                                                                                                                                                                       src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9" /><img style="position:absolute;left:13.6732pt;top:162.15pt;width:101pt;height:3pt;z-index:14;" src="../../../webapp/resources/images/ticketData/1bcbdf3f40591facab3f14b5f8f98c85.png" alt="__rendered_path__14"
                /><span style="white-space:pre;">

  <!-- Order id -->
                  <div style="position:absolute;top:273.47pt;left:120.17pt;z-index:32;letter-spacing:-.046em;"
                    th:text="${order.id}">T6519668717</div>


                </span><img style="position:absolute;left:13.7482pt;top:65.6833pt;width:568pt;height:3pt;z-index:6;"
                            src="../../../webapp/resources/images/ticketData/1654ee487a8d510aae4adc27ba9de1e7.png" alt="__rendered_path__6" /><img style="position:absolute;left:580.67pt;top:267.7pt;width:3pt;height:28pt;z-index:7;" src="../../../webapp/resources/images/ticketData/3582bf4c6ca63b722949000ca3094dbd.png" alt="__rendered_path__7"
                /><img style="position:absolute;left:415.67pt;top:292.7pt;width:166pt;height:3pt;z-index:8;" src="../../../webapp/resources/images/ticketData/019132d40dae6eefd6afc6f67b82db22.png" alt="__rendered_path__8" /><img style="position:absolute;left:415.67pt;top:267.7pt;width:3pt;height:28pt;z-index:9;"
                                                                                                                                                                                                                                    src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9" /><img style="position:absolute;left:113.67pt;top:292.7pt;width:304pt;height:3pt;z-index:10;" src="../../../webapp/resources/images/ticketData/5d83f669fcb6afcb62dce58489faf0b2.png" alt="__rendered_path__10"
                /><img style="position:absolute;left:113.67pt;top:267.7pt;width:3pt;height:28pt;z-index:9;" src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9" /><img style="position:absolute;left:14.67pt;top:292.7pt;width:100pt;height:3pt;z-index:12;"
                                                                                                                                                                                                                                   src="../../../webapp/resources/images/ticketData/95c0c58783aa5c5e2a79778ae9636819.png" alt="__rendered_path__12" /><img style="position:absolute;left:415.67pt;top:241.59pt;width:3pt;height:28pt;z-index:9;" src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9"
                /><img style="position:absolute;left:113.67pt;top:266.59pt;width:304pt;height:3pt;z-index:13;" src="../../../webapp/resources/images/ticketData/8d1884414bf7d4dead7d988db7b0e983.png" alt="__rendered_path__13" /><img style="position:absolute;left:113.67pt;top:241.59pt;width:3pt;height:28pt;z-index:9;"
                                                                                                                                                                                                                                       src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9" /><img style="position:absolute;left:13.6732pt;top:266.59pt;width:101pt;height:3pt;z-index:14;" src="../../../webapp/resources/images/ticketData/1bcbdf3f40591facab3f14b5f8f98c85.png" alt="__rendered_path__14"
                /><img style="position:absolute;left:113.67pt;top:240.48pt;width:304pt;height:3pt;z-index:13;" src="../../../webapp/resources/images/ticketData/8d1884414bf7d4dead7d988db7b0e983.png" alt="__rendered_path__13" /><img style="position:absolute;left:113.67pt;top:215.48pt;width:3pt;height:28pt;z-index:9;"
                                                                                                                                                                                                                                       src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9" /><img style="position:absolute;left:13.6732pt;top:240.48pt;width:101pt;height:3pt;z-index:14;" src="../../../webapp/resources/images/ticketData/1bcbdf3f40591facab3f14b5f8f98c85.png" alt="__rendered_path__14"
                /><img style="position:absolute;left:113.67pt;top:189.37pt;width:3pt;height:28pt;z-index:9;" src="../../../webapp/resources/images/ticketData/e5709896846e9930409a091850b917ad.png" alt="__rendered_path__9" /><img style="position:absolute;left:13.6732pt;top:214.37pt;width:101pt;height:3pt;z-index:14;"
                                                                                                                                                                                                                                    src="../../../webapp/resources/images/ticketData/1bcbdf3f40591facab3f14b5f8f98c85.png" alt="__rendered_path__14" /><img style="position:absolute;left:13.6732pt;top:188.26pt;width:101pt;height:3pt;z-index:14;" src="../../../webapp/resources/images/ticketData/1bcbdf3f40591facab3f14b5f8f98c85.png" alt="__rendered_path__14"
                />

  <!-- Ad image -->
                <img style="position:absolute;left:14.1732pt;top:320.2pt;width:566.93pt;height:236.22pt;z-index:34;" src="../../../webapp/resources/images/ticketData/ad.png" alt="Image_25_0" />

                <img style="position:absolute;left:13.7482pt;top:810.97pt;width:568pt;height:3pt;z-index:6;" src="../../../webapp/resources/images/ticketData/1654ee487a8d510aae4adc27ba9de1e7.png" alt="__rendered_path__6" /><span class="fmt-4" style="white-space:pre;"><div style="position:absolute;top:814.34pt;left:478.79pt;z-index:37;letter-spacing:.001em;">                               1 / 1</div></span></div>
        </div>
    </div>
</body>

</html>
